$text-gray: #58585f;
$text-gray-light: #9B9BA7;
$text-gray-dark-cool: #47474E;
$text-gray-dark-warm: #423E3E;

$primary-blue: #204278;
$primary-orange: #FF7300;
$primary-red: #EA0039;

$primary-color: #61c7d0;
$primary-color-dark: #204278;

$gray-color: #70727e;

$success-color: #2af779;
$error-color: #ff2957;