// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'modulus';
  src: url('../fonts/Modulus/Modulus.ttf') format('truetype')
}
@font-face {
  font-family: 'modulus';
  font-weight: bold;
  src: url('../fonts/Modulus/Modulus-Bold.otf') format('opentype');
}

// variables
$text-gray: #58585f;
$text-gray-light: #9B9BA7;
$text-gray-dark-cool: #58585F;
$text-gray-dark-warm: #423E3E;

$primary-blue: #003d7e;
$primary-orange: #FF7300;
$primary-red: #EA0039;

@import './presets.scss';

//layouts
@import './layout/default.scss';

// components
@import './components/timeline.scss';

// views
@import './views/home.scss';
@import './views/main.scss';

body {
  padding: 0;
  margin: 0;
}
