#_faq {
  width: 60%;
  margin: 0 auto;
  .speech-section {
    margin-bottom: 8rem;
    .speechbubble {
      $color: #e5e9ed;
      background-color: $color;
      color: $text-gray;
      font-size: 1rem;
      line-height: 1.75;
      border-radius: 5px;
      padding: 15px 25px;
      margin-bottom: 50px;
      text-align: left;
      cursor: default;
      //  Border and arrow left
      &:nth-child(2n+1) {
        border-left: 5px solid #db3939;
      }
      &:nth-child(2n+1):after {
        content: '';
        margin-top: -30px;
        padding-top: 0px;
        position: relative;
        bottom: -45px;
        left: 20px;
        border-width: 30px 0 0 30px;
        border-style: solid;
        border-color: $color transparent;
        display: block;
        width: 0;
      }
      //  Border and arrow right
      &:nth-child(2n) {
        border-right: 5px solid #50b842;
      }
      &:nth-child(2n):after {
        content: '';
        margin-top: -30px;
        padding-top: 0px;
        position: relative;
        bottom: -45px;
        left: calc(100% - 50px);
        border-width: 30px 30px 0 0;
        border-style: solid;
        border-color: $color transparent;
        display: block;
        width: 0;
      }
      & > p {
        &:before {
          content: '“';
          font-family: 'Georgia';
          font-size: 2.8rem;
          line-height: 0;
          display: inline-block;
          display: -webkit-inline-box;
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    width: 80%;
    .speech-section {
      margin-bottom: 6rem;
      .speechbubble {
        font-size: .8rem;
        margin-bottom: 40px;
        p:before {
          font-size: 2.3rem;
        }
      }
    }
  }
}