#_home {
  .navbar {
    display: flex;
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
    .navbar-title {
      font-family: 'modulus';
      font-weight: bold;
      font-size: 4rem;
      color: $text-gray;
      letter-spacing: 2px;
    }
  }

  .main-card, .about-card {
    border-radius: .6rem;
    box-shadow: 0 3px 18px rgba(#001C5A, .18);
    display: flex;
    .svg {
      max-width: 40%;
    }
  }

  .main-card {
    background-color: #fff;
    width: 70%;
    max-height: 300px;
    overflow: visible;
    margin-left: 10%;
    margin-bottom: 300px;
    padding: 3rem 2rem;
    z-index: 1;
    
    .slogan-section {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .slogan-1, .slogan-2 {
        align-self: flex-start;
        font-size: 3.5rem;
        letter-spacing: 2.5px;
        font-family: 'Noteworthy';
      }
      .slogan-2 {
        margin-top: -.5rem;
        margin-left: 2ch;
      }
      .quote {
        align-self: flex-end;
        margin-right: 1rem;
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        color: $text-gray-light;
      }

      .about-card {
        background-image: linear-gradient(#9B97EF, #98C0F7);
        width: 115%;
        max-height: 500px;
        margin-top: .5rem;
        padding: 1rem 2rem 1.2rem;
        z-index: 2;
        
        .info-section {
          text-align: left;
          color: #fff;
          margin-right: .8rem;
          header {
            font-size: 3rem;
            font-weight: 300;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .explore {
    margin-top: 400px;
    header {
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 2px;
    }
    .body {
      color: $text-gray-light;
      font-size: 1.8rem;
      font-weight: 300;
      max-width: 70%;
      margin: 0 auto;
    }

    .btns {
      display: flex;
      justify-content: space-evenly;
      margin-top: 2rem;
      padding: 0 5%;
      .btn-nus, .btn-ntu {
        border-radius: 1.5rem;
        box-shadow: 0 10px 16px rgba(#000, .18);
        width: 35%;
        height: auto;
        padding: 5rem 2rem;
        cursor: pointer;
        transition: 300ms;
        &:hover {
          box-shadow: 0 24px 26px rgba(#000, .18);
        }
        img {
          height: 150px;
          margin: 0 auto;
        }
      }

      .btn-nus {
        background-color: #F4EAE4;
      }
      .btn-ntu {
        background-color: #E4E4E9;
      }
    }
  }

  footer {
    width: 100%;
    // height: 5rem;
    background-color: #B5B9FF;
    color: #fff;
    margin-top: 2rem;
    padding: 7rem 0 1rem;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 50% 35%);
    .icons {
      margin: 1.5rem 0;
      .fe {
        border: solid 2px #fff;
        border-radius: 50%;
        font-weight: 500;
        font-size: 1.8rem;
        margin: 0 1rem;
        padding: .5rem;
        cursor: pointer;
      }
    }
  }

  .background-rect {
    background-color: #DDE2FD;
    z-index: -99;
    position: absolute;
    top: 150px;
    transform: translateX(-25%) rotate(-15deg);
    height: 550px;
    width: 200%;
  }
}